@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");
@import "remixicon/fonts/remixicon.css";

@import "tailwindcss";

@theme {
  --font-ee: "Manrope", sans-serif;
  --color-ee-primary-1: #fc7835;
  --color-ee-primary-2: #02af54;

  --color-ee-50: #f5f7fa;
  --color-ee-100: #f5f5f5;
  --color-ee-200: #eeeeee;
  --color-ee-300: #e0e0e0;
  --color-ee-400: #bdbdbd;
  --color-ee-500: #9e9e9e;
  --color-ee-600: #757575;
  --color-ee-700: #616161;
  --color-ee-800: #424242;
  --color-ee-900: #212121;
}
